body {
	width:			75%;
	text-align:		center;
	margin-left:	12.5%;
	margin-right:	12.5%;
}                                                                               

h1.title {
	text-align:		center;
}

img {
	display:		block;
	margin-left:	auto;
	margin-right:	auto;
}

.doc {
	display:		block;
	vertical-align:	top;
	width:			50%;
	margin-left:	auto;
	margin-right:	auto;
	margin-bottom:	10px;
}

/* XXX rework color */
.hdoc {
	text-align:		left;
	text-indent:	20px;

	/* eye-candy */
	background:		#DCF0F7; 
/*
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.11, #00cc99), color-stop(0.56, #66cccc));
	background-image: -webkit-linear-gradient(center bottom, #00cc99 11%, #66cccc 56%);
	background-image: -moz-linear-gradient(center bottom, #00cc99 11%, #66cccc 56%);
	background-image: linear-gradient(center bottom, #00cc99 11%, #66cccc 56%);
*/
	-moz-border-radius:		5px 5px 0 0;
	-webkit-border-radius:	5px 5px 0 0;
	border-radius:			5px 5px 0 0;
}

.doc .panel-heading .name {
	font-weight:	bold;
}

.hdoc .name {
	text-transform:	uppercase;
	font-weight:	bold;
}

.cdoc {
	text-align:		left;
	border:			1px solid #CCC;
	text-indent:	10px;
}

.tags {
	text-align:		right;
}

/* from bootstrap */
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 15px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
