<div class="container">
<h1>The Tagging System</h1>
<p> Manage your collection of elements with tags. Elements may be: </p>
<ul>
	<li>URL</il>
	<li>Raw text</il>
	<li>File</li>
</ul>

<p>
	Files gets uploaded on your <a href="http://thipi.awesom.eu/">thípi</a>
	account, so be sure to have enough storage. The mime-type is
	guessed from file extension.
</p>

<h1>Special tags</h1>
<p>
	Tags starting with <i>:</i> are reserved. You're discouraged
	of using them, but this won't be forbidden in software. Elements with
	such tags are usually to be made publicly available to other services.
</p>
<p>
	If you need other text formatter than mdown/markdown, please let us
	known.
</p>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		<tr>
	</thead>
	<tbody>
		<tr>
			<td>:fortune</td>
			<td>
				The element is a fortune, which will be available
				at <a href="http://fortune.awesom.eu">fortune.awesom.eu</a>
			</td>
		</tr>
		<tr>
			<td>:blog</td>
			<td>
				The element is a blog post, which will be available
				at <a href="http://blogs.awesom.eu">blogs.awesom.eu/username</a>
			</td>
		</tr>
		<tr>
			<td>:tip</td>
			<td>
				The element is a tip, which will be available
				at <a href="http://tips.awesom.eu">tips.awesom.eu</a>
			</td>
		</tr>
		<tr>
			<td>:bookmark</td>
			<td>
				The element is a bookmarks, which will be available
				at <a href="http://bookmarks.awesom.eu">bookmarks.awesom.eu</a>
			</td>
		</tr>
<!--
		<tr>
			<td>:paste</td>
			<td>
				The element is a piece of code, which will be available
				at <a href="http://paste.awesom.eu">paste.awesom.eu</a>
			</td>
		</tr>
-->
		<tr>
			<td>:public</td>
			<td>
				The element is public. It will be readable by anyone. They
				will thus appears in user search results.
			</td>
		</tr>
		<tr>
			<td>:mdown</td>
			<td>
				The element should be formatted with <a href="mdown">mdown</a>.
			</td>
		</tr>
		<tr>
			<td>:markdown</td>
			<td>
				The element should be formatted with
				<a href="http://daringfireball.net/projects/markdown/">markdown</a>.
			</td>
		</tr>
	</tbody>
</table>
</div>
